In [1]:
import pickle
import json
import datetime
import random
import time
import numpy as np
import pandas as pd

In [3]:
cd ../backup/mongodb_backup/

/home/revant/Desktop/scraping2/bccl/backup/mongodb_backup

In [4]:
ls -al

total 913532
drwxrwxr-x 2 revant revant      4096 Jan 20 01:29 ./
drwxr-xr-x 6 revant revant      4096 Jan  5 16:24 ../
-rw-rw-r-- 1 revant revant 215488704 Jan  6 17:44 daily_dispatch_summary_04-01-18_2.json
-rw-rw-r-- 1 revant revant 100980713 Jan  5 16:34 daily_dispatch_summary_04-01-18.json
-rw-rw-r-- 1 revant revant 257635574 Jan 20 01:17 daily_dispatch_summary_18-01-19.json
-rw-r--r-- 1 revant revant 308886730 Jan  6 18:21 daily_dispatch_summary_manual_with_dates_04-01.pickle
-rw-rw-r-- 1 revant revant         0 Jan  7 01:44 dispatch_against_daily_sales_04-01.json
-rw-rw-r-- 1 revant revant   1208285 Jan  5 16:26 loading_schedules_04-01-18.json
-rw-rw-r-- 1 revant revant   3277686 Jan 20 01:29 loading_schedules_18-01-19.json
-rw-r--r-- 1 revant revant   2367006 Jan  6 18:23 loading_schedules_manual_with_dates_04-01-18.pickle
-rw-r--r-- 1 revant revant     40316 Jan  9 22:51 required2.json
-rw-r--r-- 1 revant revant   1063942 Jan 10 18:57 required.json
-rw-r--r-- 1 revant revant  13383713 Jan  6 16:52 sales_order_data_manual_with_dates_04-01.pickle
-rw-rw-r-- 1 revant revant   9342489 Jan  5 16:25 sales_order_details_04-01-18.json
-rw-rw-r-- 1 revant revant  10653954 Jan  9 22:37 sales_order_details_08-01-18.json
-rw-rw-r-- 1 revant revant  10849838 Jan 20 00:35 sales_order_details_18-01-19.json
-rw-r--r-- 1 revant revant    230895 Jan  6 20:01 sales_order_nums.pickle

In [13]:
with open("dispatch_against_daily_sales_04-01.json") as f:
    a = f.readlines()

In [14]:
len(a)

115101

In [15]:
json_data = [json.loads(i) for i in a]

In [19]:
df = pd.DataFrame.from_dict(json_data)
df.head()

,Consignee Name,Grade& Size(Product Description),Lifted Qty,Lifting Date,Sales Order No,Truck No,_id
0,NaN,NaN,NaN,NaN,19701104716,NaN,{'$oid': '5c324bc7e9a5b36032e89988'}
1,RAHUL COKE PRIVATE LTD,Washery-3 STM/FSA,20.39,{'$date': {'$numberLong': '1534291200000'}},19701304782,JH10U8841,{'$oid': '5c324bc7e9a5b36032e89989'}
2,RAHUL COKE PRIVATE LTD,Washery-3 STM/FSA,20.38,{'$date': {'$numberLong': '1533686400000'}},19701304782,JH10U8841,{'$oid': '5c324bc7e9a5b36032e8998a'}
3,O S D COKE PVT.LTD.,Washery-3 STM/FSA,20.02,{'$date': {'$numberLong': '1534291200000'}},19701504830,JH02Q1835,{'$oid': '5c324bc7e9a5b36032e8998b'}
4,O S D COKE PVT.LTD.,Washery-3 STM/FSA,20.22,{'$date': {'$numberLong': '1533686400000'}},19701504830,JH02Q1835,{'$oid': '5c324bc7e9a5b36032e8998c'}

In [26]:
df2 = (df.dropna()['Truck No'] + "||" + df.dropna()['Consignee Name']).unique()

In [28]:
c = [i.split("||")[0] for i in df2]
d = [i.split("||")[1] for i in df2]
final_df = pd.DataFrame()
final_df['Truck No'] = c
final_df['Consignee Name'] = d

In [30]:
final_df.to_excel("truckNos.xls")